### Recommendation System

### Datasets
+ https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?resource=download&select=tmdb_5000_movies.csv
+ https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata?resource=download&select=tmdb_5000_credits.csv

Imports packages

In [1]:
import pandas as pd
import numpy as np

#### folder

In [6]:
movies_path = "./data/tmdb_5000_movies.csv"
credits_path = "./data/tmdb_5000_credits.csv"

#### Dataset movies

In [39]:
movies = pd.read_csv(movies_path)
credits = pd.read_csv(credits_path)

#### heads

In [40]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [41]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [42]:
### merge
movies = movies.merge(credits, on='title')

In [20]:
# movies info
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB
None

In [24]:
movies['budget'].max() ## max budget

380000000

In [28]:
movies['original_language'].value_counts() ## original language

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [30]:
movies['overview'][0] ## overview of first movie

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [31]:
movies['keywords'][0] ## keywords of first movie

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [43]:
## featurisation
movies = movies[['movie_id', 'title','overview','genres','keywords','cast','crew']]

In [44]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

#### Null values

In [45]:
movies.isnull().sum() ## 3 null in overview column

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [46]:
movies.dropna(inplace=True)

In [47]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [48]:
movies.duplicated().sum()

0

In [49]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [52]:
import ast

In [53]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [55]:
movies['genres'] = movies['genres'].apply(convert)

In [56]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [57]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [58]:
movies['keywords'] = movies['keywords'].apply(convert)

In [65]:
def casts(obj):
    counter = 0
    L = []
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [63]:
movies['cast'] = movies['cast'].apply(casts)

In [64]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [66]:
### Crew

def fetch_crew_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [67]:
fetch_crew_director(movies.iloc[0].crew)

['James Cameron']

In [68]:
movies['crew'] = movies['crew'].apply(fetch_crew_director)

In [69]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [70]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [71]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [73]:
## remove space between tag
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ", "") for i in x])

In [74]:
## create new df

movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] +  movies['cast'] + movies['crew']

In [75]:
new_df = movies[['movie_id','title', 'tags']]

In [76]:
new_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [77]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

/var/folders/9m/vg703zc133bgfz9mcf15mvhm0000gn/T/ipykernel_59090/895399174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

In [78]:
new_df

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [108]:
import nltk

In [109]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [110]:
def stem(text):
    L = []
    for w in text.split():
        L.append(ps.stem(w))
    return " ".join(L)

In [111]:
stem(new_df['tags'][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [112]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/9m/vg703zc133bgfz9mcf15mvhm0000gn/T/ipykernel_59090/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [147]:
new_df.drop_duplicates(subset=['movie_id'], inplace=True)

/var/folders/9m/vg703zc133bgfz9mcf15mvhm0000gn/T/ipykernel_59090/3588187428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(subset=['movie_id'], inplace=True)

In [151]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english', ngram_range=(1, 2), max_features=20000)

vectors = cv.fit_transform(new_df['tags']).toarray()

In [152]:
cv.get_feature_names_out()

array(['00', '000', '000 feet', ..., 'zooeydeschanel', 'zookeep',
       'zoëkravitz'], dtype=object)

In [153]:
from sklearn.metrics.pairwise import cosine_similarity

similarity  = cosine_similarity(vectors)
similarity.shape

(4800, 4800)

In [154]:
sorted(list(enumerate(similarity[1])), reverse=True, key=lambda x: x[1])

[(1, 0.9999999999999996),
 (12, 0.4130434782608695),
 (199, 0.2761084110913719),
 (17, 0.21067524290009615),
 (1660, 0.16912752287293456),
 (216, 0.16526725762745997),
 (1075, 0.14953343588376802),
 (784, 0.1486075233534274),
 (75, 0.14176897172994188),
 (3568, 0.13987572123604708),
 (2131, 0.13620104492139976),
 (848, 0.1361450296836116),
 (61, 0.13240678533309402),
 (187, 0.13107603009779922),
 (98, 0.1310760300977992),
 (129, 0.1302579218051672),
 (979, 0.129011711635535),
 (1192, 0.12833175058483634),
 (3329, 0.12801546729290467),
 (472, 0.1276884796138123),
 (1723, 0.1264304343560434),
 (109, 0.1246111965698067),
 (1267, 0.12387602085230008),
 (3004, 0.12387602085230008),
 (583, 0.12364893354703727),
 (208, 0.12286829679574761),
 (30, 0.12248698644899796),
 (2592, 0.12248698644899796),
 (138, 0.12151626148280732),
 (340, 0.12038585308576918),
 (1671, 0.11964954126675388),
 (1332, 0.11959121830873498),
 (121, 0.1182165609358651),
 (94, 0.1180480411624714),
 (5, 0.11761799222424119),
 (57, 0.11717498502967605),
 (329, 0.11717498502967605),
 (412, 0.11616046389935494),
 (3351, 0.11616046389935494),
 (403, 0.11611961267111806),
 (627, 0.11566298639324805),
 (3632, 0.11566298639324805),
 (14, 0.11517184622813065),
 (330, 0.11517184622813065),
 (1094, 0.11513282476462602),
 (167, 0.11375393879832252),
 (781, 0.11375393879832252),
 (3965, 0.11350087076783315),
 (2392, 0.11242343760332196),
 (1619, 0.11235088294097076),
 (3698, 0.11235088294097074),
 (3151, 0.11145564251507056),
 (4004, 0.11145564251507056),
 (4210, 0.11145564251507056),
 (778, 0.11145564251507055),
 (818, 0.11145564251507054),
 (91, 0.11113855611859677),
 (2657, 0.11113855611859677),
 (10, 0.11058146711617287),
 (2031, 0.11058146711617287),
 (46, 0.10989674556596452),
 (276, 0.10869565217391304),
 (985, 0.10869565217391304),
 (3618, 0.10869565217391304),
 (38, 0.10819281685365759),
 (1902, 0.108077411149503),
 (191, 0.10807741114950299),
 (543, 0.10807741114950299),
 (3051, 0.10767638041163309),
 (50, 0.10753309840483508),
 (1140, 0.10753309840483508),
 (232, 0.10753309840483506),
 (2165, 0.10753309840483506),
 (190, 0.10702313041643276),
 (104, 0.10640706634484359),
 (1231, 0.10498884552771254),
 (24, 0.10425720702853739),
 (215, 0.10425720702853739),
 (1711, 0.10425720702853739),
 (1440, 0.10425720702853737),
 (322, 0.10323001737691673),
 (115, 0.10283867552865913),
 (332, 0.10223260251369135),
 (1675, 0.10223260251369133),
 (3494, 0.10223260251369133),
 (310, 0.10189636042253354),
 (2293, 0.10114434748483471),
 (4214, 0.09968895725584535),
 (1649, 0.09940534656094303),
 (2102, 0.09890707100936805),
 (2876, 0.09890707100936805),
 (773, 0.09829463743659808),
 (1295, 0.09764582085806336),
 (618, 0.09710314325264792),
 (23, 0.09695723311274393),
 (1145, 0.09695723311274393),
 (9, 0.09680038658279579),
 (271, 0.09680038658279579),
 (812, 0.09652341781316805),
 (262, 0.09652341781316803),
 (1647, 0.0959765385234422),
 (2024, 0.09567297464698798),
 (19, 0.09539445011233398),
 (106, 0.09539445011233398),
 (2837, 0.09517337345336012),
 (193, 0.0950496913043515),
 (2116, 0.09443843292997713),
 (1193, 0.09439004018637939),
 (1688, 0.09439004018637939),
 (1874, 0.093772896568909),
 (7, 0.0936257357841423),
 (325, 0.09325048082403138),
 (389, 0.09325048082403138),
 (1259, 0.09325048082403138),
 (1422, 0.09325048082403138),
 (1470, 0.09325048082403138),
 (1654, 0.09325048082403138),
 (1880, 0.09325048082403138),
 (1972, 0.09325048082403138),
 (379, 0.09306075431858638),
 (587, 0.09287970209589211),
 (3373, 0.09267307291425544),
 (381, 0.09223131928520185),
 (913, 0.09223131928520185),
 (3284, 0.09223131928520185),
 (126, 0.09215122259681072),
 (1827, 0.09215122259681072),
 (3367, 0.09215122259681072),
 (384, 0.09210625981170081),
 (3828, 0.09210625981170081),
 (206, 0.09194621406122841),
 (47, 0.0917341117855138),
 (22, 0.09100315103865801),
 (359, 0.09100315103865801),
 (581, 0.09100315103865801),
 (960, 0.09100315103865801),
 (171, 0.09006450929125251),
 (1146, 0.09006450929125251),
 (962, 0.0900645092912525),
 (292, 0.08993875008265757),
 (3424, 0.08993875008265757),
 (85, 0.08983222540938544),
 (2298, 0.08939981748151894),
 (122, 0.08891084489487741),
 (331, 0.08874962836170935),
 (508, 0.08874962836170935),
 (870, 0.08874962836170935),
 (66, 0.08811342210628016),
 (813, 0.08811342210628016),
 (127, 0.08759357437106757),
 (3427, 0.08759357437106757),
 (821, 0.08754104448666038),
 (48, 0.0874907046064271),
 (420, 0.0874907046064271),
 (2366, 0.0874907046064271),
 (486, 0.08722783759886468),
 (227, 0.08695652173913043),
 (1696, 0.08695652173913043),
 (1216, 0.08688100585711449),
 (1613, 0.08688100585711449),
 (3215, 0.08674723979493604),
 (3374, 0.08674723979493604),
 (3724, 0.08674723979493604),
 (3856, 0.08674723979493604),
 (4491, 0.08674723979493604),
 (457, 0.08602647872386805),
 (15, 0.08569889627388262),
 (1821, 0.0854166817985915),
 (1304, 0.08512565307587487),
 (2579, 0.08512565307587487),
 (2654, 0.08512565307587487),
 (62, 0.08512565307587486),
 (3715, 0.08512565307587486),
 (3775, 0.08512565307587486),
 (612, 0.08512565307587484),
 (572, 0.08456376143646728),
 (597, 0.08425254637422692),
 (786, 0.08425254637422692),
 (1941, 0.08425254637422692),
 (2902, 0.08425254637422692),
 (3098, 0.08425254637422692),
 (158, 0.08401285158874369),
 (234, 0.08401285158874369),
 (755, 0.083967426956286),
 (25, 0.08359173188630292),
 (342, 0.08359173188630292),
 (537, 0.08359173188630292),
 (79, 0.08347257041177222),
 (2900, 0.08347257041177222),
 (3718, 0.08347257041177222),
 (3901, 0.08347257041177222),
 (53, 0.08294258047937003),
 (694, 0.08294258047937003),
 (664, 0.08258401390153339),
 (3755, 0.08258401390153339),
 (1018, 0.08242255917447337),
 (3820, 0.08213785172900903),
 (4605, 0.08213785172900903),
 (84, 0.08191219786383173),
 (1392, 0.08191219786383173),
 (1844, 0.08191219786383173),
 (72, 0.08178608201095307),
 (131, 0.08178608201095307),
 (1361, 0.08178608201095307),
 (143, 0.0814112011282295),
 (315, 0.08101084098853821),
 (349, 0.08101084098853821),
 (792, 0.08101084098853821),
 (922, 0.08101084098853821),
 (972, 0.08101084098853821),
 (1129, 0.08101084098853821),
 (3354, 0.08101084098853821),
 (169, 0.08091928604387327),
 (1484, 0.08075728530872482),
 (1765, 0.08075728530872482),
 (4050, 0.08075728530872482),
 (4437, 0.08075728530872482),
 (273, 0.08043618151097337),
 (654, 0.08043618151097337),
 (1605, 0.08043618151097337),
 (26, 0.07952427724875442),
 (1291, 0.07952427724875442),
 (3148, 0.07952427724875442),
 (3154, 0.07949537509361165),
 (105, 0.07944407119985641),
 (738, 0.07944407119985641),
 (241, 0.07881104062391008),
 (649, 0.07881104062391008),
 (1360, 0.07881104062391008),
 (2432, 0.07881104062391008),
 (2682, 0.07881104062391008),
 (717, 0.07858682668274143),
 (209, 0.07819290527140303),
 (1278, 0.07819290527140303),
 (2517, 0.07819290527140303),
 (4284, 0.07819290527140303),
 (4617, 0.07819290527140303),
 (222, 0.07814408047409083),
 (71, 0.0781166566864507),
 (168, 0.0781166566864507),
 (973, 0.0781166566864507),
 (0, 0.07744030926623663),
 (1715, 0.07744030926623663),
 (2211, 0.07744030926623663),
 (1290, 0.07699905035090181),
 (2757, 0.07699905035090181),
 (4397, 0.07699905035090181),
 (361, 0.07678123081875377),
 (3695, 0.07678123081875377),
 (136, 0.0761386987626881),
 (659, 0.0761386987626881),
 (859, 0.0761386987626881),
 (3021, 0.0761386987626881),
 (3095, 0.0761386987626881),
 (2045, 0.07608695652173914),
 (1101, 0.07603738308405919),
 (935, 0.07585826061362604),
 (971, 0.07585826061362604),
 (942, 0.07551203214910351),
 (1621, 0.07551203214910351),
 (238, 0.07524115817860577),
 (607, 0.07524115817860577),
 (369, 0.07490058862731383),
 (1363, 0.07490058862731383),
 (263, 0.07476671794188401),
 (267, 0.07476671794188401),
 (483, 0.07476671794188401),
 (695, 0.07476671794188401),
 (3962, 0.07476671794188401),
 (4088, 0.07476671794188401),
 (304, 0.0744849464413905),
 (1867, 0.0743037616767137),
 (41, 0.07372097807744857),
 (97, 0.07372097807744857),
 (505, 0.07372097807744857),
 (660, 0.07372097807744857),
 (1214, 0.07372097807744857),
 (1260, 0.07372097807744857),
 (3129, 0.07372097807744857),
 (3886, 0.07372097807744857),
 (4301, 0.07372097807744857),
 (4417, 0.07372097807744857),
 (4695, 0.07372097807744857),
 (178, 0.07315169559594552),
 (1697, 0.07315169559594552),
 (1782, 0.07315169559594552),
 (2831, 0.07315169559594552),
 (3904, 0.07315169559594552),
 (1674, 0.07299464530922298),
 (3583, 0.07296484549360703),
 (1404, 0.07271792483455794),
 (2558, 0.07271792483455794),
 (3993, 0.07271792483455794),
 (4197, 0.07271792483455794),
 (59, 0.07263943811461808),
 (2001, 0.07263943811461808),
 (125, 0.07261785883857189),
 (419, 0.07259540086406277),
 (728, 0.07259540086406277),
 (1297, 0.07259540086406277),
 (1561, 0.07259540086406277),
 (2129, 0.07259540086406277),
 (3642, 0.07259540086406277),
 (197, 0.07228936649578004),
 (4042, 0.07228936649578004),
 (569, 0.072051607433002),
 (596, 0.072051607433002),
 (2484, 0.072051607433002),
 (2816, 0.072051607433002),
 (3014, 0.072051607433002),
 (31, 0.07175473098524099),
 (33, 0.07175473098524099),
 (35, 0.07175473098524099),
 (172, 0.07175473098524099),
 (715, 0.07175473098524099),
 (2647, 0.07175473098524099),
 (2928, 0.07175473098524099),
 (3533, 0.07175473098524099),
 (3668, 0.07175473098524099),
 (3851, 0.07175473098524099),
 (4190, 0.07175473098524099),
 (32, 0.07151985398521515),
 (58, 0.07151985398521515),
 (1035, 0.07151985398521515),
 (1184, 0.07151985398521515),
 (1270, 0.07151985398521515),
 (1973, 0.07151985398521515),
 (270, 0.07099970268936748),
 (2848, 0.07099970268936748),
 (3941, 0.07093804422989572),
 (159, 0.07082882469748285),
 (392, 0.07082882469748285),
 (1002, 0.07082882469748285),
 (1682, 0.07082882469748285),
 (2071, 0.07082882469748285),
 (2224, 0.07082882469748285),
 (2247, 0.07082882469748285),
 (827, 0.07049073768502413),
 (3782, 0.07049073768502413),
 (3811, 0.07049073768502413),
 (4331, 0.07049073768502413),
 (240, 0.06999256368514169),
 (661, 0.06999256368514169),
 (758, 0.06999256368514169),
 (1059, 0.06999256368514169),
 (1096, 0.06999256368514169),
 (1934, 0.06999256368514169),
 (3789, 0.06999256368514169),
 (391, 0.069972855796905),
 (2786, 0.069972855796905),
 (68, 0.06993786061802354),
 (90, 0.06993786061802354),
 (220, 0.06993786061802354),
 (1400, 0.06993786061802354),
 (1717, 0.06993786061802354),
 (2527, 0.06993786061802354),
 (2883, 0.06993786061802354),
 (2946, 0.06993786061802354),
 (471, 0.06950480468569159),
 (746, 0.06950480468569159),
 (788, 0.06950480468569159),
 (1588, 0.06950480468569159),
 (3376, 0.06950480468569159),
 (3756, 0.06950480468569159),
 (4558, 0.06950480468569159),
 (4758, 0.06950480468569159),
 (150, 0.06935086251510555),
 (198, 0.0690796948587756),
 (461, 0.0690796948587756),
 (511, 0.0690796948587756),
 (691, 0.0690796948587756),
 (736, 0.0690796948587756),
 (1025, 0.0690796948587756),
 (1045, 0.0690796948587756),
 (1436, 0.0690796948587756),
 (160, 0.06904602208326344),
 (243, 0.06902710277284298),
 (334, 0.06902710277284298),
 (425, 0.06902710277284298),
 (2350, 0.06902710277284298),
 (43, 0.0685591170191061),
 (124, 0.0685591170191061),
 (3305, 0.0685591170191061),
 (3224, 0.06845640667376339),
 (81, 0.06844820977417419),
 (2996, 0.06844820977417419),
 (260, 0.0682523632789935),
 (294, 0.0682523632789935),
 (745, 0.0682523632789935),
 (1402, 0.0682523632789935),
 (3318, 0.0682523632789935),
 (933, 0.06810052246069988),
 (3170, 0.06810052246069988),
 (2028, 0.06786566122473789),
 (13, 0.06765100914917382),
 (1338, 0.06765100914917382),
 (2709, 0.06765100914917382),
 (3591, 0.06765100914917382),
 (4566, 0.06765100914917382),
 (1630, 0.06757990980304682),
 (427, 0.06745406256199318),
 (1792, 0.06745406256199318),
 (1981, 0.06745406256199318),
 (4554, 0.06745406256199318),
 (1847, 0.06701907097949869),
 (107, 0.06677805632941777),
 (836, 0.06677805632941777),
 (1975, 0.06677805632941777),
 (117, 0.06668313367115805),
 (931, 0.06668313367115805),
 (1823, 0.06668313367115805),
 (3884, 0.06668313367115805),
 (4687, 0.06668313367115805),
 (4775, 0.06668313367115805),
 (1091, 0.06635406438349603),
 (1237, 0.06635406438349603),
 (4445, 0.06635406438349603),
 (88, 0.0659380473395787),
 (1032, 0.0659380473395787),
 (2964, 0.0659380473395787),
 (3345, 0.0659380473395787),
 (3403, 0.0659380473395787),
 (4399, 0.0659380473395787),
 (1017, 0.06552975829106539),
 (1448, 0.06552975829106539),
 (544, 0.06521739130434782),
 (547, 0.06521739130434782),
 (764, 0.06521739130434782),
 (2658, 0.06521739130434782),
 (2956, 0.06521739130434782),
 (3133, 0.06521739130434782),
 (3350, 0.06521739130434782),
 (1401, 0.0651289609025836),
 (921, 0.06473542883509861),
 (1962, 0.06473542883509861),
 (4683, 0.06473542883509861),
 (894, 0.06451985904290104),
 (1709, 0.06451985904290104),
 (3314, 0.06451985904290104),
 (3382, 0.06451985904290104),
 (3897, 0.06451985904290104),
 (892, 0.0643489452087787),
 (1248, 0.0643489452087787),
 (1274, 0.0643489452087787),
 (2311, 0.0643489452087787),
 (2884, 0.0643489452087787),
 (27, 0.06396930210072013),
 (2400, 0.06396930210072013),
 (530, 0.06384423980690615),
 (1235, 0.06384423980690615),
 (2124, 0.06384423980690615),
 (2492, 0.06384423980690615),
 (3466, 0.06384423980690615),
 (4596, 0.06384423980690615),
 (1001, 0.06359630007488933),
 (1779, 0.06359630007488933),
 (1824, 0.06359630007488933),
 (1920, 0.06359630007488933),
 (4523, 0.06351429320638034),
 (1344, 0.0632297477418679),
 (1771, 0.0632297477418679),
 (2025, 0.0632297477418679),
 (3340, 0.0632297477418679),
 (152, 0.0631894097806702),
 (830, 0.0631894097806702),
 (2822, 0.0631894097806702),
 (3796, 0.0631894097806702),
 (102, 0.06286946134619315),
 (584, 0.06286946134619315),
 (866, 0.06286946134619315),
 (3225, 0.06286946134619315),
 (3848, 0.06286946134619315),
 (4342, 0.06286946134619315),
 (4496, 0.06286946134619315),
 (4731, 0.06286946134619315),
 (1645, 0.06255432421712243),
 (1745, 0.06255432421712243),
 (2679, 0.06255432421712243),
 (2861, 0.06255432421712243),
 (3343, 0.06255432421712243),
 (2345, 0.0625293174904717),
 (246, 0.06251526437927266),
 (2800, 0.06251526437927266),
 (4713, 0.06251526437927266),
 (1499, 0.062166987216020916),
 (2748, 0.062166987216020916),
 (3873, 0.062166987216020916),
 (8, 0.06193801042615004),
 (492, 0.06193801042615004),
 (1013, 0.06193801042615004),
 (1447, 0.06193801042615004),
 (1788, 0.06193801042615004),
 (1971, 0.06193801042615004),
 (2104, 0.06193801042615004),
 (3845, 0.06193801042615004),
 (2664, 0.06186527051799373),
 (730, 0.061865270517993724),
 (949, 0.06182446677351863),
 (1413, 0.06182446677351863),
 (1809, 0.06182446677351863),
 (4745, 0.06182446677351863),
 (307, 0.06164857888717427),
 (103, 0.06148754619013457),
 (2544, 0.06148754619013457),
 (2563, 0.06148754619013457),
 (3826, 0.06148754619013457),
 (4376, 0.06148754619013457),
 (16, 0.061339561508214804),
 (142, 0.061339561508214804),
 (2333, 0.061339561508214804),
 (2769, 0.061339561508214804),
 (2854, 0.061339561508214804),
 (3030, 0.061339561508214804),
 (3696, 0.061339561508214804),
 (4084, 0.061339561508214804),
 (4620, 0.061339561508214804),
 (139, 0.06115607452367586),
 (286, 0.06082990646724735),
 (551, 0.06082990646724735),
 (1236, 0.06082990646724735),
 (4308, 0.06082990646724735),
 (52, 0.060758130741403654),
 (111, 0.060758130741403654),
 (646, 0.060758130741403654),
 (805, 0.060758130741403654),
 (1111, 0.060758130741403654),
 (2145, 0.060758130741403654),
 (2532, 0.060758130741403654),
 (3007, 0.060758130741403654),
 (3162, 0.060758130741403654),
 (3316, 0.060758130741403654),
 (3336, 0.060758130741403654),
 (3497, 0.060758130741403654),
 (4310, 0.060758130741403654),
 (4123, 0.06059827069546495),
 (1280, 0.06050890208160516),
 (4705, 0.06050890208160516),
 (189, 0.06019292654288461),
 (1858, 0.06019292654288461),
 (2270, 0.06019292654288461),
 (3836, 0.06019292654288461),
 (4730, 0.06019292654288461),
 (207, 0.0601929265428846),
 (549, 0.0601929265428846),
 (731, 0.0601929265428846),
 (1194, 0.0601929265428846),
 (1519, 0.0601929265428846),
 (1604, 0.0601929265428846),
 (1710, 0.0601929265428846),
 (1978, 0.0601929265428846),
 (2446, 0.0601929265428846),
 (3679, 0.0601929265428846),
 (242, 0.059643207936565815),
 (651, 0.059643207936565815),
 (1610, 0.059643207936565815),
 (1956, 0.059643207936565815),
 (2068, 0.059643207936565815),
 (2139, 0.059643207936565815),
 (2220, 0.059643207936565815),
 (2249, 0.059643207936565815),
 (3660, 0.059643207936565815),
 (4181, 0.059643207936565815),
 (1133, 0.05927389659658494),
 (4606, 0.05927389659658494),
 (610, 0.05921411453740407),
 (36, 0.05910828046793255),
 (485, 0.05910828046793255),
 (716, 0.05910828046793255),
 (793, 0.05910828046793255),
 (2159, 0.05910828046793255),
 (2177, 0.05910828046793255),
 (2761, 0.05910828046793255),
 (2920, 0.05910828046793255),
 (2980, 0.05910828046793255),
 (3362, 0.05910828046793255),
 (3597, 0.05910828046793255),
 (4502, 0.05910828046793255),
 (1137, 0.05897678246195886),
 (1766, 0.05897678246195886),
 (40, 0.058587492514838024),
 (312, 0.058587492514838024),
 (480, 0.058587492514838024),
 (643, 0.058587492514838024),
 (1979, 0.058587492514838024),
 (2378, 0.058587492514838024),
 (3829, 0.058587492514838024),
 (4330, 0.058587492514838024),
 (4628, 0.058587492514838024),
 (469, 0.05839571624737838),
 (1525, 0.05839571624737838),
 (785, 0.05811155049169446),
 (503, 0.05808023194967747),
 (794, 0.05808023194967747),
 (1323, 0.05808023194967747),
 (1608, 0.05808023194967747),
 (2488, 0.05808023194967747),
 (2613, 0.05808023194967747),
 (3436, 0.05808023194967747),
 (374, 0.05783149319662403),
 (776, 0.05783149319662403),
 (993, 0.05783149319662403),
 (1172, 0.05783149319662403),
 (1516, 0.05783149319662403),
 (2365, 0.05783149319662403),
 (2476, 0.05783149319662403),
 (2670, 0.05783149319662403),
 (4562, 0.05783149319662403),
 (96, 0.057585923114065324),
 (341, 0.057585923114065324),
 (711, 0.057585923114065324),
 (869, 0.057585923114065324),
 (898, 0.057585923114065324),
 (1116, 0.057585923114065324),
 (1742, 0.057585923114065324),
 (2005, 0.057585923114065324),
 (2052, 0.057585923114065324),
 (2824, 0.057585923114065324),
 (2984, 0.057585923114065324),
 (3868, 0.057585923114065324),
 (3929, 0.057585923114065324),
 (939, 0.057283315012620475),
 (1548, 0.057283315012620475),
 (74, 0.05710402407201608),
 (658, 0.05710402407201608),
 (1208, 0.05710402407201608),
 (1531, 0.05710402407201608),
 (2348, 0.05710402407201608),
 (3087, 0.05710402407201608),
 (3713, 0.05710402407201608),
 (2594, 0.057015007612483966),
 (850, 0.056750435383916574),
 (1460, 0.056750435383916574),
 (1571, 0.056750435383916574),
 (1669, 0.056750435383916574),
 (2331, 0.056750435383916574),
 (2636, 0.056750435383916574),
 (4125, 0.056750435383916574),
 (4536, 0.056750435383916574),
 (20, 0.05670844467496044),
 (841, 0.056634024111827636),
 (959, 0.056634024111827636),
 (2697, 0.056634024111827636),
 (3385, 0.056634024111827636),
 (3418, 0.056634024111827636),
 (4142, 0.056634024111827636),
 (697, 0.056489512459833996),
 (4, 0.05617544147048537),
 (164, 0.05617544147048537),
 (174, 0.05617544147048537),
 (782, 0.05617544147048537),
 (835, 0.05617544147048537),
 (1966, 0.05617544147048537),
 (2341, 0.05617544147048537),
 (2969, 0.05617544147048537),
 (3471, 0.05617544147048537),
 (4281, 0.05617544147048537),
 (4701, 0.05617544147048537),
 (183, 0.055978284637524),
 (2111, 0.055978284637524),
 (162, 0.05572782125753528),
 (466, 0.05572782125753528),
 (1008, 0.05572782125753528),
 (1417, 0.05572782125753528),
 (1617, 0.05572782125753528),
 (2110, 0.05572782125753528),
 (2639, 0.05572782125753528),
 (3068, 0.05572782125753528),
 (3092, 0.05572782125753528),
 (3137, 0.05572782125753528),
 (3523, 0.05572782125753528),
 (4635, 0.05572782125753528),
 (86, 0.05572782125753527),
 (101, 0.05572782125753527),
 (411, 0.05572782125753527),
 (1586, 0.05572782125753527),
 (3474, 0.05572782125753527),
 (3607, 0.05572782125753527),
 (3626, 0.05572782125753527),
 (3726, 0.055480690012084444),

In [155]:
def recommend(movie):
    movie_index = new_df[new_df['title']== movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:10]
    return [new_df.iloc[mv[0]].title for mv in movie_list]

In [156]:
recommend("Batman Begins")

['The Dark Knight',
 'The Dark Knight Rises',
 '10th & Wolf',
 'Batman v Superman: Dawn of Justice',
 'Batman',
 'Synecdoche, New York',
 "Gangster's Paradise: Jerusalema",
 'Batman Returns',
 'Batman']

In [157]:
import pickle

In [158]:
pickle.dump(new_df.to_dict(), open('data/movies.pkl', 'wb'))

In [159]:
pickle.dump(similarity, open('data/similarity.pkl', 'wb'))

In [160]:
new_df.duplicated(subset=['movie_id']).sum()

0

In [161]:
new_df[new_df["title"]=="The Host"]

     movie_id     title                                               tags
972     72710  The Host  a parasit alien soul is inject into the bodi o...
973      1255  The Host  a parasit alien soul is inject into the bodi o...